.item__square-image {
  width: 200px;
  height: 200px;
}

.category__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin-top: 30px;
}

/* .category__container-item {
  display: flex;
  font-size: 15px;
} */

.itemDetails__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

div.detail-item-page {
  width: 55%;
  max-width: 750px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  padding: 40px;
  border-radius: 7px;
  box-shadow: 0 5px 20px 0 rgb(21 27 38 / 8%);
}

.item-description {
  margin-top: 5px;
  margin-bottom: 10px;
}

.item__size {
  font-size: 14px;
}

.item__description {
}

.owl-carousel.owl-loaded {
  display: block;
  width: 100%;
}

.owl-stage {
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot span {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font-size: xx-large;
}

/* .genre__container {
  width: 1500px;
  margin: auto;
  position: relative;
} */
/* .owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
} */
/* .owl-carousel .item {
  text-align: center;
} */
/* .owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
} */
/* .owl-carousel .prev-slide {
  background: url(">") no-repeat scroll 0 0;
  left: -33px;
  background-size: cover;
} */
/* .owl-carousel .next-slide {
  background: url("<") no-repeat scroll -24px 0px;
  right: -33px;
  background-size: cover;
} */
/* .owl-carousel .prev-slide:hover {
  opacity: 0.5;
} */
/* .owl-carousel .next-slide:hover {
  opacity: 0.5;
} */
