.cart-div {
  text-align: center;
  margin-top: 50px;
}

.purchase-btn {
  margin-top: 70px;
}

.cart__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  grid-gap: 30px;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.cart-stuff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.cart__container-item {
  padding: 15px;
}
