.image__container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #888888;
}

.form__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.grid-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
