.background-image-home {
  max-width: 100%;
  min-width: 1024px;
}

ul.categories__list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  max-width: 80%;
}

.category__container-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.categories__container {
  display: flex;
  justify-content: space-evenly;
}

.category-title {
  padding-bottom: 20px;
  border-bottom: 1px solid;
  width: 100%;
}

.owl-stage-outer {
  padding-top: 20px;
}
