#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#modal-content {
  position: absolute;
  background-color: white;
  min-width: 400px;
  height: 35%;
  width: 35%;
  min-height: 400px;
  border-radius: 10px;
}
