.profile__image {
  border-radius: 50%;
  height: 200px;
  margin: 10px;
}

.user__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-bottom: 3px solid;
}

.image-mini-background {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.form__container-profile {
  margin-top: 15px;
}

.form__container-btn {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  max-width: 60%;
  width: 20%;
}

/* .mini-background {
  background: blue;
  width: 80%;
  min-height: 90px;
  position: absolute;
} */

.product-view {
  display: flex;
  justify-content: space-evenly;
}

.h3-label {
  padding: 10px;
}

.h3-text {
  margin-bottom: 10px;
  font-size: xx-large;
}

.item__listing {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 80%;
}

.item__container-listing {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
