.footer {
  border: 1px solid black;
  position: relative;
  z-index: 10;
  height: 2.5rem;
}

.footer__text-container {
  display: flex;
  align-items: center;
  height: 100%;
}

p.footer__text {
  margin-right: 30px;
  font-size: larger;
  font-family: "Exo", sans-serif;
}

.main-footer {
  color: black;
  background-color: white;
  border-top: 1px solid;
  height: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-footer {
  display: flex;
  gap: 8px;
}
