.footer {
  border: 1px solid black;
  position: relative;
  z-index: 10;
  height: 2.5rem;
}

.footer__text-container {
  display: flex;
}

.main-footer {
  color: black;
  background-color: white;
  border-top: 1px solid;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
