.profile-dropdown {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 20px;
}

.nav__wrapper {
  height: 100vh;
}

.navbar__container {
  display: flex;
  align-items: center;
  height: 44px;
  border: 1px solid black;
}

.profileNav__container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 3%;
  align-items: center;
}

.navbar__container-login,
.navbar__container-signup,
.navbar__container-home,
.navbar__container-profile {
  margin-left: 40px;
  text-decoration: none;
}

.image__text {
  position: absolute;
}

.image__text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__text-firstLine {
  color: white;
  font-size: 3vw;
  margin-top: 25px;
  text-align: center;
}

.image__text-secondLine {
  color: white;
  text-align: right;
  font-size: 3vw;
}

span.gear-logo {
  font-size: 4vw;
  font-family: "Exo", sans-serif;
  font-weight: 800;
}

.profile-circle-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.logout {
  color: white;
  font-size: 20px;
}
