.btn-link {
  background-color: none;
  border: none;
}

.flex-modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.modal-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  justify-content: center;
  gap: 15px;
}
